<!-- START TOPPER -->
<div id="topper">
  <div id="finder">
    <h3>EAST TENNESSEE STATE UNIVERSITY</h3>

    <h1>INSTITUTIONAL REVIEW BOARD</h1>
  </div>
</div>
<!-- END TOPPER -->
<!-- START COLS -->
<div id="cols" class="clear">
  <!-- START MAIN -->
  <div id="main">
    <%= form_for(@survey, :url => submit_path) do |f| %>
        <% if @survey.errors.any? %>
            <div id="error_explanation">
              <h2>Please answer every question</h2>
            </div>
        <% end %>
        <div class="container">
          <div class="field clear">
            <%= f.label :question_01, "What school district are you working in?", :class => "question" %>
            <br/>
            <%= f.text_field :question_01 %>
          </div>
          <div class="field clear">
            <%= f.label :question_02, "What is your position?" %>
            <br/>
            <%= f.select(:question_02, ["Principal", "Superintendent", "Healthy School Council Member / Physical Educator", "School Health Coordinator"], {}, {:class => "toggler"}) %>
          </div>
          <div id="extra_questions" class="hide">
            <div class="field clear">
              <%= f.label :question_03, "Are you in a city or county school system?", :class => "question" %>
              <br/>
              <%= f.select(:question_03, ["City", "County"]) %>
            </div>
            <div class="field clear">
              <%= f.label :question_04, "What is your type of education?", :class => "question" %>
              <br/>
              <%= f.select(:question_04, ["Nursing", "Business", "Education", "Nutrition", "Public Health", "Other"]) %>
            </div>
            <div class="field clear">
              <%= f.label :question_05, "How many years experience do you have working in the school system?", :class => "question" %>
              <br/>
              <%= f.text_field :question_05 %>
            </div>
            <div class="field clear">
              <%= f.label :question_06, "How many professional organizations are you a member of?", :class => "question" %>
              <br/>
              <%= f.text_field :question_06 %>
            </div>
            <div class="field clear">
              <%= f.label :question_07, "How many schools are within your system?", :class => "question" %>
              <br/>
              <%= f.text_field :question_07 %>
            </div>
          </div>
          <div class="field clear"> The following questions are to measure personal characteristics of leadership. For each adjective listed below,
            indicate the degree to which you think the adjective describes your School Health Coordinator or if you are the SHC than as it describes you as a leader. Please, select the following
            responses to indicate the strength of your opinion.
          </div>
          <div class="radio clear">
            <%= f.label :question_08, "Articulate: Communicates effectively with others", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_08", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_09, "Perceptive: Discerning and insightful", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_09", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_10, "Self-confident: Believes in oneself and one's ability", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_10", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_11, "Self-assured: Secure with self, free of doubts", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_11", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_12, "Persistent: Stays fixed on goals despite interference", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_12", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_13, "Determined: Takes a firm stand, acts with certainty", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_13", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_14, "Trustworthy: Act believably, inspires confidence", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_14", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_15, "Dependable: Is consistent and reliable", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_15", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_16, "Friendly: Shows kindness and warmth", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_16", :f => f} %>
          </div>
          <div class="radio clear">
            <%= f.label :question_17, "Outgoing: Talks freely, gets along well with others", :class => "question" %>
            <br/>
            <%= render :partial => "radio_list", :locals => {:field => "question_17", :f => f} %>
          </div>
          <div class="field clear">
            <%= f.label :human_check, "What is 2 + 3? (we ask this to make sure you are a human)", :class => "question" %>
            <br/>
            <%= f.text_field :human_check %>
          </div>
          <div class="actions">
            <%= f.submit "Finish Survey" %>
          </div>
        </div>
    <% end %>

  </div>
</div>




































